body {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

button:hover {
  cursor: pointer;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  gap: 1rem;
}

.zone {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex-grow: 1;

  textarea {
    display: flex;
    flex-grow: 1;
    resize: none;
  }
}
