body {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.container {
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  gap: 2rem;
}

.zone {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 1;

  textarea {
    display: flex;
    flex-grow: 1;
  }
}
